.App {
    padding: 10px;
    height: 100%;
    text-align: center;
}

.nav {
    margin: 10px auto 20px auto;
    display: flex;
    width: 50%;
    flex: 1 1 auto;
}

.spacer {
    flex: 2 1 auto;
}

.dashboard {
    width: 50%;
    margin: 0 auto 0 auto;
    padding: 0 0 10px 0;
}

.leaderboard {
    width: 50%;
    margin: 0 auto 0 auto;
}

.question-page {
    width: 50%;
    margin: 0 auto 0 auto;
}

.card-container {
    margin: 10px auto 10px auto;
    width: 95%;
    text-align: left;
}

.card-info {
    display: flex;
}

.avatar {
    margin: auto 0 auto 0;
    width: 100px !important;
    height: 100px !important;
}

.question-detail, .user-detail {
    width: 100%;
    margin: 0 0 0 20px;
}

.new-question {
    margin: 0 auto 0 auto;
    width: 50%;
    text-align: left;
}

.question-title {
    text-align: center;
    font-weight: bold;
}

.question-divider {
    margin: 20px 0 10px 0;
    text-align: center;
    color: lightgray;
}

.question-badge {
    width: 90%;
    margin: 20px 0 0 0;
}

.question-choice {
    padding: 10px;
    width: 100%;
}

.question-barchart {
    height: 30px !important;
}

.user-score {
    margin: auto 0 auto 0;
    width: 100px !important;
    text-align: center;
}