.App {
    padding: 10px;
    height: 100%;
    text-align: center;
}

.nav {
    margin: 10px 0 20px 0;
}

.dashboard {
    width: 50%;
    margin: 0 auto 0 auto;
    padding: 0 0 10px 0;
}

.question {
    margin: 10px auto 10px auto;
    width: 95%;
    text-align: left;
}

.question-info {
    display: flex;
}

.question-avatar {
    margin: auto 0 auto 0;
    width: 100px !important;
    height: 100px !important;
}

.question-detail {
    width: 100%;
    margin: 0 0 0 20px;
}

.new-question {
    margin: 0 auto 0 auto;
    width: 50%;
    text-align: left;
}

.question-title {
    text-align: center;
    font-weight: bold;
}

.question-divider {
    margin: 20px 0 10px 0;
    text-align: center;
    color: lightgray;
}
